/*---------------
 Variables  
 ----------------*/
 :root{
  --main-color: #e02f6b;
  --blue: #0000ff;
  --blue-dark : #18293c;
  --orange: #ffa500;
  --green-yellow: #cddc39;
  --pink-light: #efa2b4;
  --cyan-light: #aef1ee;
  --white : #ffffff;
  --purple : #cc2b5e;
  --shades : #bdc3c7;
  --grey : #2c3e50;
  --love : #753a88;
  --white-alpha-40: rgba(255,255,255,0.40);
  --white-alpha-25: rgba(255,255,255,0.25);
  --backdrop-filter-blur: blur(5px);
   --primary-color: 111, 76, 255;
   --text-color: 256, 256, 256;
   --cards-start: rgba(229, 226, 226, 0.3);
   --cards-end:  rgb(137, 145, 153, 0.3);
   
   } 



/* -------------
    Custom
---------------- */
body {
  /* background-image: linear-gradient( to bottom right, var(--shades)  , var(--cyan-light) ); */
  /* background-color: #ffffff; */
  background-image: url(../../../public/images/others-bg.jpg);
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
  height: 100%;
  width: 100%;
}
h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}
html, .App, #root, .wrapper {
  width: 100%;
  height: 100%;
}
.navbar-light {
  color: #000000;
  box-shadow: 2px 14px 80px rgba(34, 35, 58, 0.2);
  font-weight: 600;
}

.card{
  display: flex;
  background-image: url(../../../public/images/others-bg.jpg); 
  width: 95%;
  margin: 20px 20px 0px 20px;
  padding: 20px 0px 0px 0px;
}
.card-body{
  
}

.home{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  margin : 10px 10px 10px 10px;
  padding : 10px 10px 10px 10px;
  width: 100%;
}
.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  margin : 20px 10px 10px 10px;
  width: 100%;
}

.inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 20px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}
.wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}
.wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}
.custom-control-label {
  font-weight: 400;
}
.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}
.forgot-password a {
  color: #167bff;
}
.btn-gradient {
  background-image: linear-gradient(to right, rgb(1 134 218), rgb(182 49 167));
  border: 0;
  color: rgba(var(--text-color));
}

li {
  /* background-image: linear-gradient( to right, var( --white ), var( --white ) 50%, #000 50% ); */
  background-image: linear-gradient( to right,  rgb(1 134 218), rgb(182 49 167) 50%, #000000 50%  );
  background-size: 200% 100%;
  background-position: -100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}
li:before {
  content: '';
  background: #54b3d6;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
}
li:hover {
  background-position: 0;
 }
 li:hover::before {
  width: 0;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.3); 
}

.about p{
  padding: 10px;
}
.contact-cards * {
  box-sizing: border-box;
}
.card-contact{
   /* background-image: url(../../../public/images/others-bg.jpg); */
}
.card-contact:hover{
  /* background-image: var(--white); */
  background-image: url(../../../public/images/others-bg.jpg);
  width: 100%;
}
/* Float four columns side by side */
.contact-cards .column {
  float: left;
  width: 25%;
 
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.contact-cards .flex-row {margin: 0 -5px;}

/* Clear floats after the columns */
.contact-cards .flex-row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.contact-cards .card-contact {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .contact-cards .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}


   /* ---------------------
      Global
    ---------------------- */
   
    @media all and (min-width: 480px) {
  
    }@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
    * {
      box-sizing: border-box;
    }


/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .navbar ul:not(:first-child) {display: none;}
  .navbar li:not(:first-child) {display: none;}
  
}